#hero{
    height: 880px; 
    background-image: url("images/places/hims.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hero-content{
    width: 900px;
    background-color: rgba(51,47,47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67,67);
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#hero-content h1{
    color: white;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
}
#hero-content p{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 32px;
}
#hero-content a{
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    background-color: rgb(255, 251,0);
    font-size: 24px;
    font-weight: bold;
    align-content: center;
    box-shadow: 2px 4px 8px rgb(67,68,68);
}
#hero-content a:hover{
    background-color: rgb(255, 238,0) ;
}
#highlights {
    padding: 24px;
    background:  linear-gradient(0deg,rgb(227,255,253),rgb(31, 191, 156));
}
#highlights h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65,64 );
    margin: 24px 0;

}
#Destination{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-between;
}
.Destination img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67,67);
    border-radius: 10px;
    object-fit: cover;
}
.Destination p{
  text-align: center;  
  color: rgb(0,217, 55);
  font-size: 24px;
  margin: 20px 0;
}
.Destination{
    margin: 0 20px;
    text-transform: uppercase;

}
